stages:
  - assemble

variables:
  COMMON_REPO_URL: "https://github.com/manivallepu/common-airflow.git"

assemble_airflow_runtime:
  stage: assemble
  image: alpine:latest

  before_script:
    - apk add --no-cache git

  script:
    - echo "Cloning common-airflow repository"
    - git clone $COMMON_REPO_URL

    - echo "Creating Airflow runtime structure"
    - mkdir -p airflow-runtime/common
    - mkdir -p airflow-runtime/dags

    - echo "Copying common code"
    - cp -r common-airflow/common/* airflow-runtime/common/

    - echo "Copying Project1 DAGs"
    - cp -r dags/Project1 airflow-runtime/dags/Project1

    - echo "Final Airflow runtime structure:"
    - ls -R airflow-runtime

  artifacts:
    paths:
      - airflow-runtime/
    expire_in: 1 day
